<!doctype html>
<html ng-app="test-task">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>
<div id="bg">
  <div class="container" ng-controller="MainCtrl" >
    <div class="row first-line" infinite-scroll="loadMore()" infinite-scroll-disabled="showButton==='on'" >
      <all-items ng-repeat="count in arr"></all-items>
    </div>
    <div id="button-load" >
      <button type="button" class="btn btn-default btn-lg" ng-click="loadMore()" ng-init="showButton ='on'"
              ng-show="showButton==='on'" >Load more
      </button>
    </div>
    <div class="radio" id="first">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="on" ng-model="showButton" checked>
        Disable infinite scrolling
      </label>
    </div>
    <div class="radio" id="second">
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="off" ng-model="showButton">
        Enable infinite scrolling
      </label>
    </div>
    </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/factory/items-factory.js"></script>
<script src="scripts/directives/items-directive.js"></script>
<!-- endbuild -->
</body>
</html>
